.title {
  text-align: center;
  flex-grow: 1;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
  background: #00154f;

}

.header{
  background-color: #00154f;
}

.butaoHeader{
  color: #ffffff;
}
