<mat-toolbar color="primary" class="header">
  <button class="butaoHeader"  mat-icon-button *ngIf="shouldShowMenuButton()" (click)="toggleSidenav.emit()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">MeetHub</span>

    <ul class="menu-list">
    <li><a routerLink="/companhia">Companhia</a></li>
    <li><a routerLink="/localizacao">Localização</a></li>
    <li><a routerLink="/sala">Salas</a></li>
    <button mat-list-item (click)="logout()">Logout</button>
  </ul>
</mat-toolbar>
