<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>




<div id="formlogin">


  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Usuário</mat-label>
      <input matInput placeholder="Digite seu usuário" formControlName="email" required>
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        O email é obrigatório
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" placeholder="Digite sua senha" formControlName="password" required>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        A senha é obrigatória
      </mat-error>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>
</div>




</body>
</html>

