<h1 class="tituloPagina">Entrar</h1>


<div class="modelForm">


  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Digite seu Email" formControlName="email" required>
      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
        O email é obrigatório
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" placeholder="Digite sua senha" formControlName="password" required>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        A senha é obrigatória
      </mat-error>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Entrar</button>
    <button mat-button color="accent" (click)="irParaCadastro()" style="margin-left: 10px;">
      Criar conta
    </button>

  </form>
</div>






